<div class="tabbable">
  <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
    <li ng-class="{active : ctrl.isCurrentTabSelected(1)}">
      <a href aria-expanded="{{ctrl.isCurrentTabSelected(1) ? 'true' : 'false'}}" ng-click="ctrl.setTab(1)">Профиль</a>
    </li>

    <li ng-class="{active : ctrl.isCurrentTabSelected(2)}">
      <a href aria-expanded="{{ctrl.isCurrentTabSelected(2) ? 'true' : 'false'}}" ng-click="ctrl.setTab(2)">Роли</a>
    </li>

    <li ng-class="{active : ctrl.isCurrentTabSelected(3)}">
      <a href aria-expanded="{{ctrl.isCurrentTabSelected(3) ? 'true' : 'false'}}" ng-click="ctrl.setTab(3)">История</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" ng-class="{active : ctrl.isCurrentTabSelected(1)}">
      <div class="row">
        <div class="col-xs-12 col-sm-3 center">
          <span class="profile-picture">
            <img class="editable img-responsive" ng-src="{{user.avatarUrl}}">
          </span>
          <div class="space space-4"></div>
          <button class="btn btn-sm btn-block btn-success" ng-click="ctrl.openEditAvatar()">
            <i class="ace-icon fa fa-plus-circle bigger-120"></i>
            <span class="bigger-110">Change Avatar</span>
          </button>
        </div>
        <!-- /.col -->

        <div class="col-xs-12 col-sm-9">
          <h4 class="blue">
            <span class="middle">{{user.lastName}} {{user.firstName}} {{user.middleName}}</span>
          </h4>

          <div class="profile-user-info">
            <div class="profile-info-row">
              <div class="profile-info-name">Username</div>

              <div class="profile-info-value">
                <span>{{user.userName}}</span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name">vksNumber</div>
              <div class="profile-info-value">
                {{user.vksNumber}}
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name">orgName</div>
              <div class="profile-info-value">
                {{user.orgName}}
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> positionName</div>
              <div class="profile-info-value">
                {{user.positionName}}
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> group</div>
              <div class="profile-info-value">
                <div ng-show="!ctrl.isEditGroup()">
                  <span>{{user.group.name}}</span>

                  <div class="editable-buttons">
                    <button type="button" class="btn btn-primary" ng-click="ctrl.setEditGroup(true)">
                      <i class="ace-icon fa fa-edit"></i>
                    </button>
                  </div>
                </div>
                <div ng-show="ctrl.isEditGroup()" class="control-group form-group">
                  <div class="editable-input">
                    <select class="form-control" ng-options="group.id as group.name for group in groups"
                            ng-model="selectedGroupId"></select>
                  </div>

                  <div class="editable-buttons">
                    <button type="button" class="btn btn-info editable-submit" ng-click="ctrl.saveUserGroup()">
                      <i class="ace-icon fa fa-check"></i>
                    </button>
                    <button type="button" class="btn editable-cancel" ng-click="ctrl.setEditGroup(false)">
                      <i class="ace-icon fa fa-times"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <div class="tab-pane" ng-class="{active : ctrl.isCurrentTabSelected(2)}">
      <select
        ng-options="role.id as role.name for role in roles"
        multiple
        ng-model="roleIds"
        bs-duallistbox

        filter="false"

        non-selected-list-label="Доступные"
        selected-list-label="Выбранные"
        >
      </select>

    </div>
    <div class="tab-pane" ng-class="{active : ctrl.isCurrentTabSelected(3)}">
      <p> Тут будет история звонков.</p>
    </div>

  </div>
</div>
